.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 60px;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    gap: 30px;
    align-items: center;
}
input{
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 20px;
}
span{
    text-decoration: underline;
    cursor: pointer;
}
.ch{
    display: flex;
    align-items: center;
    font-size: 50px;
}